body{
    font-family: 'Poppins', sans-serif;
    margin:0;
}

h1{
    font-size:30px;
}

.orange-color{
    color:tomato;
}

section{
    display:flex;
    margin-bottom: 100px;
}

.half-width {
    width:50%;
    padding: 2%;

} 
.half-width img{
    width:50%;
    
}

.link-button{
    text-decoration:none;
    background-image: linear-gradient(tomato,salmon);
    color: white;
    font-weight: 700;
    padding: 10px 40px;
    border-radius: 5px;

}

.top-banner{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat ;
}

.dream-big{
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position:right;
}