body{
    font-family: 'Poppins', sans-serif;
    margin:0;
}

h1{
    font-size:30px;
}

.orange-color{
    color:tomato;
}

.flexible-container{
    display:flex;
    margin-bottom: 100px;
}

.half-width {
    width:50%;
    padding: 2%;

} 
.half-width img{
    width:50%;
    
}

.link-button{
    text-decoration:none;
    background-image: linear-gradient(tomato,salmon);
    color: white;
    font-weight: 700;
    padding: 10px 40px;
    border-radius: 5px;

}

.top-banner{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat ;
}

.dream-big{
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position:right;
}
h2{
    font-size: 30px;
}
.experience-area{
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
}

.experience-item{
    width: 40%;
    margin-left: 5%;
    margin-right: 5%;
    border-radius: 5px;
    padding-left: 20px;

    box-shadow: 10px 10px 40px grey;
    border-left: 10px solid;

}
#web-dev-experience{
  border-image: linear-gradient(blue,cyan) ;  
  border-image-slice:1 ;
  border-left:7px solid ;
}

#full-stack-experience{

    border-image: linear-gradient(salmon,tomato) ;  
    border-image-slice:1 ;
    border-left:7px solid ;
}

footer p{
    text-align:center;
}